name: kthcloud-ci

"on":
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      # Checka ut kod från repository
      - uses: actions/checkout@v3

      # Ställ in JDK 19
      - name: Set up JDK 19
        uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'temurin'
          cache: maven

      # Bygg projektet med Maven och skapa .jar-filen
      - name: Build with Maven
        run: mvn --file ./labb2login/pom.xml --batch-mode --update-snapshots package

      # Kontrollera att .jar-filen skapades
      - name: Verify .jar file
        run: ls -la ./labb2login/target

      # Logga in på KTH Cloud Docker Registry
      - name: Login to KTH Cloud Registry
        uses: docker/login-action@v3
        with:
          registry: registry.cloud.cbh.kth.se
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Bygg och pusha Docker-image
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_TAG }}
